# dependencies
node_modules

# next.js
.next
out

# production
build
dist

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.swp

# misc
*.pem
*.tsbuildinfo
